#home {
    background-image: url('https://cdn.discordapp.com/attachments/972957443753652246/1163129828153774140/home.png?ex=653e7410&is=652bff10&hm=895686ab144da7b66a4a1056a5b399a9bfacd8c83cf85cb5c72c7e8f17937098&')!important;
}

@media only screen and (max-width: 876px) {
    #home {
        background-image: url('https://cdn.discordapp.com/attachments/972957443753652246/1280252263084068925/home.png?ex=66d76755&is=66d615d5&hm=974cf6fb3a016d0695c5de33a5cff9eb6974b359cc7f98d0fc033b9e9f622195&')!important;
    }
  }
  .row {
    margin: 10px !important;
  }
